.from-container {
    width: 600px;
    margin: 0 auto;
    /* background: #FFFFFF; */
    border: 1px solid #95A0A7;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    /* own work ---- */
    margin-top: 5px;
    box-shadow: -5px 5px 3px #FF9900;
}

.input-group {
    margin-bottom: 20px;
}

.from-title {
    color: #2A414F;
    font-size: 35px;
    font-weight: 400;
    text-align: center;
}

.input-group label {
    display: block;
    margin-left: 5px;

}

.input-group input {
    width: 415px;
    height: 55px;
    border: 1px solid #95A0A7;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 24px;
}

.from-submit {
    width: 415px;
    height: 55px;
    background-color: rgba(255, 153, 0, 0.3);
    border-radius: 5px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.from-submit:hover {
    background-color: rgba(255, 153, 0, 0.5);
}

.from-link {
    color: #FF9900;
    text-decoration: none;
}

.from-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* own work  */
.hr-line {
    border: 1px solid #95A0A7;
    width: 145px;
    height: 0;
    margin-left: 10px;
    margin-right: 10px;
}

.sign-in-google {
    width: 415px;
    height: 55px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid salmon;
    font-size: 20px;
    margin-bottom: 20px;
}